/***** Remove Default Browser Styles *****/
html, body, div, section, ul, li, input, button, td, tr, table, span, button, article, h1, h2, h3, p {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.bg-dark{
    background:#000!important;
}

.navbar-toggler{
    
    cursor: pointer;
}

@media screen and (min-width:800px){
.navbar-brand {
    padding-left: 100px;
}
}

@media screen and (max-width:575px){
    .navbar-text{
        display:none;
}
}
/***** Bootstrap Sticky Footer *****/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  min-width:320px;
}

.text-muted {
  padding: 20px 0;
    font-size:16px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  background-color: #000;
}

/***** Main styles *****/

#main-content {padding:100px 20px 40px 20px;}

body {
  text-align: center;
  font-family: "Ubuntu Condensed", sans-serif;
  color: black;
    min-width:320px;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 70px;
}

h2 {
    font-size: 34px;
    padding-bottom: 40px;
}

p{
    font-size: 20px;
    padding-bottom:20px;
}

.drum-btn{
    font-size:20px;
    color: black;
    cursor: pointer;
    background-color:white;
    border-color:#ccc;
}
.drum-btn:hover{
    color: black;
    background-color:rgb(221, 221, 221);
    border-color: #8c8c8c;
}

.thing{
    padding:50px 0;
}
.thing:focus{
    outline:none;
}

@media screen and (max-width: 390px) {
  h1 {
    font-size: 34px;
    padding: 20px 0;
    }

  h2 {
    font-size: 24px;
    padding-bottom: 40px;
    }
 }

@media screen and (min-width: 391px) and (max-width: 560px) {
  h1 {
    font-size: 36px;
    padding: 20px 0;
    }

  h2 {
    font-size: 30px;
    padding-bottom: 40px;
    }
 }
@media screen and (min-width: 561px) and (max-width: 800px) {
  h1 {
    font-size: 55px;
    padding: 20px 0;
    }

  h2 {
    font-size: 30px;
    padding-bottom: 40px;
    }
 }

@media screen and (max-width: 800px) {
    #main-content {padding:30px 20px 30px 20px;}
}











